.setup {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.boardSetup {

}

.controls {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.info {
  margin: 5px;
}

.btn {
  composes: Button from "../App.module.css";
  margin: 1px;
}

.rnd {
  composes: Button from "../App.module.css";
  margin: 1px;
}

.start {
  composes: Button from "../App.module.css";
  margin: 1px;
}

.disabled {
  composes: DisabledButton from "../App.module.css";
  margin: 1px;
}

@media(max-width: 1024px) {
  .boardSetup {

  }

  .controls {
    font-size: 65%;
  }
}
