.battlefield {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-flow: column;
  justify-items: center;
  width: 100%;
}

.sideShipList {
  margin: 0 2%;
  width: 100%;
}

.leftShipList {
  composes: sideShipList;
  justify-self: start;
}

.rightShipList {
  composes: sideShipList;
  justify-self: end;
}

.boards {
  display: inline-grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.gap {
  width: 5%;
}

.player {
  color: black;
}

.currentPlayer {
  composes: player;
  font-size: 150%;
  text-decoration: underline;
}

.fleetName {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}

@media(max-width: 1024px) {
  .fleetName {
    font-size: 40%;
  }

  .currentPlayer {
    font-size: 80%;
  }

  .player {
    font-size: 65%;
  }
}
