.playersPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.playersLists {
  margin-top: 5%;
  flex: 1;
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-template-columns: 2fr 5fr 2fr;
}

.startGame {
  composes: Button from "../App.module.css";
  flex: 1;
  align-self: flex-end;
  margin-top: 5%;
}

.firstPlayer {
  flex: 1;
  margin: 2%;
  display: none;
}

.playersList {
  margin: 5%;
}

.playersList li {
  min-width: 100px;
  text-align: center;
}

.VS {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.VS::before {
  content: "VS";
}

.playerNo {
  margin-bottom: 15px;
}
