.playersPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.playersLists {
  margin-top: 5%;
  width: 100%;
  flex: 1;
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-template-columns: 5fr 1fr 5fr;
}

.startGame {
  composes: controlButton from "../App.module.css";
}

.firstPlayer {
  flex: 1;
  margin: 2%;
  display: none;
}

.playersList {
  margin: 5%;
}

.playersList li {
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}

.VS {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.VS::before {
  content: "VS";
}

.playerNo {
  margin-bottom: 15px;
  text-align: center;
}
