.list {
  display: block;
}

.item {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  margin: 5px;
  padding: 10px;
}

.item:hover {
  cursor: pointer;
}

.selected {
  composes: item;
  display: block;
  background-color: rgba(21, 21, 21, 0.8);
  color: #fff;
}
