.right {
  text-align: end;
}

.wrapper {
  display: initial;
}

.clickable {
  display: inline-grid;
  cursor: pointer;
}

.left {
  display: inline-flex;
  flex-flow: column;
}

.right {

}

@media(max-width: 1024px) {
  .view {
    display: none;
  }
}
