.ship {
  margin: 10px 5px;
}

.structure {
  display: inline-grid;
  grid-gap: 3px;
  background-color: #C19A6B;
  padding: 5px 15px;
  border-radius: 15px;
  color: #444;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
}

.name {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.part {
  opacity: 0.3;
  border: 1px solid #fff;
  border-radius: 2px;
  width: 15px;
  height: 15px;
}

.damagedPart {
  composes: part;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: #855E42;
  border: 1px solid #443022;
  color: #443022;
  font-size: 10px;
}

.damagedPart::before {
  content: "X";
}

.healthyPart {
  composes: part;
  background-color: #fff;
}
