.ship {
  margin: 10px 5px;
}

.structure {
  display: inline-grid;
  grid-gap: 3px;
  background-color: #C19A6B;
  padding: 5px 15px;
  border-radius: 15px;
  color: #444;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
}

.name {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.part {
  opacity: 0.3;
  color: #fff;
  border-radius: 2px;
  width: 15px;
  height: 15px;
}

.damagedPart {
  composes: part;
  opacity: 0.8;
  background-color: #660000;
}

.healthyPart {
  composes: part;
  background-color: #fff;
}
